.demo-corner-badge {
  height: 50px;
  width: 200px;
}
.special-badge .am-list-line {
  padding-right: 0;
}
.special-badge .am-list-line .am-list-extra {
  padding: 0;
  height: 44px;
}
.special-badge .am-badge {
  transform: rotate(45deg);
  transform-origin: right bottom;
  right: 0;
  top: 13px;
  width: 50px;
}
.special-badge .am-badge-text {
  border-radius: 1px;
}
