.demo-single-multi-foo-menu {
  position: absolute;
  z-index: 70 !important;
  width: 100%;
}

.demo-single-multi-menu-active .single-multi-top-nav-bar{
  z-index: 80;
}

.single-multi-top-nav-bar {
  position: relative;
  background-color: #008AE6;
  color: #FFF;
}
.am-navbar-title {
  color: #FFF!important;
}
.demo-menu-mask {
  content: ' ';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 69;
}

.h5-body {
  height: 100vh;
}
