.demo-flex-container {
  margin: 0 15px;
}
.demo-flex-container .inline {
  width: 80px!important;
  margin: 9px 9px 9px 0;
}
.demo-flex-container .small {
  height: 20px!important;
  line-height: 20px!important;
}
